# 忽略 Visual Studio 相關文件
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.tlog
*.ide
*.ipch
*.dbmdl
*.dbproj.schemaview
_ReSharper*/

# 忽略 bin 和 obj 文件夾
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/

# 忽略發布文件夾
.publish/
*.publishsettings

# 忽略 NuGet 資料
*.nupkg
packages/

# 忽略編譯和配置文件
*.csproj.user
*.csproj.*.user
*.config
*.json.swp

# 忽略 Rider 和 JetBrains IDE 文件
.idea/
*.sln.iml
*.sln.cache

# 忽略 Secret 文件
appsettings.json
appsettings.Development.json
appsettings.Production.json

# 忽略 Mac 和 Windows 系統文件
.DS_Store
Thumbs.db
desktop.ini
